.dropdown {
   position: relative;
   margin-bottom: 30px;
   // .dropdown__content
   &__content {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 20px;
      background-color: rgba(74, 111, 181, 0.3);
      backdrop-filter: blur(3px);
      padding: 20px 0px 20px 16px;
      margin: 0 -16px 0px -16px;
      transition: 0.3s ease 0s;
      &.hovered {
         background-color: rgba(25, 24, 38, 0.5);
         backdrop-filter: blur(3px);
      }
   }
   // .dropdown__avatar
   &__avatar {
      svg {
       transition: all 0.3s ease 0s;
         path {
            fill: $blue;
         }
      }
   }
   // .dropdown__text
   &__text {
      color: $white;
      font-size: 20px;
      font-weight: 500;
      opacity: 0;
      transition: 0.2s ease-out 0s;
   }
   // .dropdown__chevron-down
   &__chevron-down {
      position: absolute;
      bottom: -16px;
      left: 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: all 0.2s ease-out 0s;
      svg {
         width: 16px;
         height: 16px;
         path {
            fill: rgba(74, 111, 181, 0.4);
         }
      }
      &.rotate {
         transform: rotate(0deg);
      }
   }
   // .dropdown__menu
   &__menu {
      display: flex;
      display: none;
      transform: translateX(-100%);
      transition: all 0.2s ease-out 0s;
      opacity: 0;
      background-color: rgba(74, 111, 181, 0.3);
      backdrop-filter: blur(3px);
      padding: 26px 16px 0px 16px;
      margin: 0 -16px;
      &.expanded {
         display: block;
         opacity: 1;
         transform: translateX(0);
      }
   }
   // .dropdown__login
   &__login {
      width: 100%;
      padding: 15px 20px;
      color: #fff;
      background-color: $lightBlue;
      border-radius: 15px;
      font-size: 20px;
      transition: 0.2s ease 0s;
      margin-bottom: 16px;
      &:hover {
         background-color: #007bee;
      }
   }
   // .dropdown__link
   &__link {
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 20px 0px 20px 16px;
      text-decoration: none;
      transition: all 0.3s ease 0s;
      margin: 0px -16px;
   &:hover {
      background-color: rgba(79, 103, 139, 0.16);
      .dropdown__text {
         color: $light;
      }
      .dropdown__icon {
         svg {
            path {
               fill: $light;
            }
         }
      }
}
}
// .dropdown__icon
&__icon {
   svg {
      path {
         fill: $lightBlue;
      }
   }
}
// .dropdown__text
&__text {}
}
