.genre {

    // .genre__body

    &__body {
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px 20px 0;
    }
    &__subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        h2 {
            font-size: 30px;
        }
    }

    // .genre__buttons
    &__button-more {
        display: inline-block;
        height: 34px;
        min-width: 60px;
        border-radius: 5px;
        border: 1px solid $grey;
        background-color: #111127;
        color: $white;
        white-space: nowrap;
        transition: background-color 0.3s ease 0s;
        &:hover {
            background-color: #202039;
        }
    }
    

    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 100%;
        gap: 16px;
        @media (max-width: 560px) {
            display: flex;
            gap: 6px;
        }
        button {
            display: inline-block;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.446);
            background-color: #111127;
            color: $white;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s ease 0s;
            &:hover {
                background-color: #202039;
            }
            svg {
                width: 16px;
                @media (max-width: 560px) {
                    width: 12px;
                }
            }
            @media (max-width: 560px) {
                height: 30px;
                min-width: 30px;
            }
        }
    }
    // .genre__item
    &__item {
        min-width: 100%;
        border-radius: 4px;
        border-left: 6px solid $blue;
        background: #111127;
        cursor: pointer;
        color: $white;
    }
    // .genre__link
    
    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 48px;      
        padding-left: 10px;
    }
}
.carousel__slide {
    display: flex;
    justify-content: flex-start;
    a {
        width: 100%;
        margin-right: 20px;
    }
}