.slider-bar-tracks {
}
.tracks {
		// .tracks__body
		&__body {}
		// .tracks__title
		&__title {
			display: flex;
			justify-content: space-between;
			margin: 0 10px 20px 10px;
		}
		// .tracks__subtitle
		&__subtitle {
			display: flex;
			justify-content: space-between;
			font-size: 30px;
		}
		// .tracks__buttons
		&__buttons {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			max-width: 100%;
			gap: 16px;
			@media (max-width: 420px) {
				 display: flex;
				 gap: 6px;
			}
			button {
				 display: inline-block;
				 height: 40px;
				 min-width: 40px;
				 border-radius: 50%;
				 border: 1px solid $grey;
				 background-color: #111127;
				 color: $white;
				 white-space: nowrap;
				 display: flex;
				 justify-content: center;
				 align-items: center;
				 transition: background-color 0.3s ease 0s;
				 &:hover {
					 background-color: #202039;
				 }
				 svg {
					  width: 16px;
					  @media (max-width: 420px) {
							width: 12px;
					  }
				 }
				 @media (max-width: 420px) {
					  height: 30px;
					  min-width: 30px;
				 }
			}
		}
		// .tracks__prev
		&__prev {}
		// .tracks__next
		&__next {}
}
.track {
   position: relative;
   margin: 0 auto;
   width: 100%;
   display: flex;
   &.playing,
   &.paused  {
   
      .track__body {
         border-radius: 10px;
         background: rgba(24, 36, 59, 0.704);
      }
   }
   // // .track__body
   &__body {
      position: relative;
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      &:hover {
		background-color: rgba(255, 255, 255, 0.09);
         .controls {
            opacity: 1;
         }
         .track__img {
         }
         .controls__more {
         }
         .controls__play {
         }
      }
   }
   // .track__img
   &__img {
      position: relative;
      z-index: 5;
      width: 80px;
      height: 80px;
      @media (max-width: 460px){
         width:  70px;
         height: 70px;
      }
      img {
         width: 80px;
         height: 80px;
         object-fit: cover;
         border-radius: 10px;
         transition: all 0.3s ease 0s;
         @media (max-width: 460px){
            width:  70px;
            height: 70px;
         }
      }
   }
   // .track__info
   &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      margin-top: 10px;
      flex: 1 1 100%;
      font-size: 14px;
   }
   // .track__name
   &__name {
      font-weight: 700;
      color: #fff;
   }
   // .track__controls
   &__controls {
   }
   // .track__author
   &__author {

   }
   // .track__more
   &__more {
      pointer-events: all;
      padding: 10px;
      border-radius: 50%;
      transition: 0.2s ease 0s;
      &:active {
         background: rgba(79, 103, 139, 0.718);
      }
      &.active {
         background: rgba(79, 103, 139, 0.718);
      }
      svg {
         width: 20px;
         height: 20px;
      }
   }
}
//Controls========================================================================================================================================================
.controls {
   // .controls__more
   &__more {
      svg {
         width: 20px;
         height: 20px;
         path {
            fill: $white;
         }
      }
   }
   // .controls__play
   &__play,
   &__pause {
      svg {
         width: 20px;
         height: 20px;
         @media (max-width: 460px){
         }
         path {
            fill: $white;
         }
      }
   }
}
