@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;

}
button {
   cursor: pointer;
   border: none;
   appearance: none;
   background: none;
   color: none;
}

li {
   list-style: none;
}
a {
   text-decoration: none;
}
//Colors========================================================================================================================================================
$backgroundColor: #221c36;
$darkBlue: #191826;
$blue: #4a6fb5;
$lightBlue: #0074e0;
$mainText: #000;
$light: #03d15f;
$white: #c2c2c9; 
$accentColor: rgb(240, 57, 37); 
$grey: #4f678b;
//========================================================================================================================================================

//Markup========================================================================================================================================================
html,
body {
//   height: 100%;
  color: $white;
}
body{
background: url('@/assets/img/bg.webp') left no-repeat;
background-size: cover;
// background: #000;

  &.lock {
		overflow: hidden;
		touch-action: none;
		transition: all 0.3s ease 0s;
	}
}
svg {
   width: 28px;
   height: 28px;
}
.app {
   display: flex;
   main {
      flex: 1 1 0;
      min-height: 100vh;
      // padding: 32px;
      @media (max-width: 768px) {
         // padding-left: 96px;
         padding-left: 60px;

      }
      @media (max-width: 475px) {
         padding-left: 60px;
      }
   }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 0;
  min-height: 100vh;
}
[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}