.tracks {
    // .tracks__container
&__title {
    margin-bottom: 25px;
}
&__body {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 20px;
    @media (max-width: 650px){
          grid-template-columns: 1fr;
    }
}

&__genre {
    width: 100%;
    gap: 10px;
    div {
        small {
            cursor: pointer;
        }
    }
}

&__genre-link {
    color: $white;
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.411);
}
}
.track {
&.playing {
  .controls {
     opacity: 1;
  }
  .controls__play {
     display: none;
  }
  .controls__pause {
     display: block;
  }

}
&.paused {
    .controls {
        opacity: 1;
    }
    .controls__play {
        display: block;
    }
    .controls__pause {
        display: none;
    }
}
// .track__body
&__play {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    &:hover {
        .controls {
            opacity: 1;
        }
        .track__img {
        }
        .controls__more {
        }
        .controls__play {
        }
        }
}
// .track__img
&__img {
    position: relative;
    z-index: 5;
    width: 60px;
    height: 60px;
    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
    }
}
// .track__info
&__info {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}
// .track__name
&__name {
    font-weight: 700;
    color: #fff;
}
// .track__controls
&__controls {
}
// .track__author
&__author {

}
}